<head>
    <script type="text/javascript" src="https://smtpjs.com/v3/smtp.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.6.2/compat/openpgp.min.js"></script>
</head>
<div class="templateComponent">
    <body class="{{bodyClass}}">
        <div class="{{templateStyle}}">
            <div class="htmlTemplateContainer" [innerHTML]=safeHtmlTemplate></div>
            <form class="templateCreator" autocomplete="off">
                <label>Email Address:</label><br>
                <span style="font-size: 10px">The encrypted emails will be sent to this email address</span>
                <br>
                <input (input)="email=$event.target.value" type="text" class="form-control">
                <label>Password for encryption</label><br>
                <span style="font-size: 10px">This password will be used to decrypt the encrypted messages</span>
                <br>
                <input type="password" (input)="password=$event.target.value" class="form-control">
                <br>
                Template:
                <br>
                <select (change)="selectedItemChanged($event)">
                    <option *ngFor="let template of templates; let i = index" [value]="i">{{ template.Name }}</option>
                </select>
                <br>
                <input type="button" value="Generate Html" (click)="onClickHandler($event)">
            </form>
        </div>
        <div class="{{templateCreatedStyle}}">
            <div class="templateHtml">
                <section style="margin: 1em 8em;">Copy the below html into your site to use the template</section>
                <span class="buttonSpan">
                    <button (click)="copyToClipboard($event)">Copy template to clipboard</button>
                    <button (click)="downloadPrivKey($event)">Download the private key</button>
                    <button (click)="downloadPubKey($event)">Download the public key</button>
                </span>
                <div class="templateOutput">
                    {{templateOutput}}
                </div>
            </div>
        </div>
    </body>
</div>