div.templateComponent{
  margin-top: 5em;
}

div.templateOutput{
    font-size: .5em;
width: 80%;
border: solid black 1px;
margin: 0 auto;
white-space: pre-line;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.hidden{
    display :none;
}

.shown{
    display: block;
}

form{
  float: left;
  display: inline;
  margin:5em
}

body{
  height: 30em;
}

body.bodyGrown{
    height: 160em;
}
.templateCreator{
  float: left;
}

#background{
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

div.template-container {
  /* border-color: #C94A81;
  padding: 6px;
  border-style: solid;
  border-width: 2px; */
  height: auto;
  width: auto;
  display: block;
}

.default{
    max-width: 450px;
    border: #eee solid 2px;
    padding: 6px;
}

.buttonSpan{
  margin-left: 7.8em;
}

.htmlTemplateContainer{
    float: left;
margin-top: 4em;

margin-left: 3em;
}

.form-style-3 {
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-3 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-3 label>span {
  float: left;
  width: 100px;
  color: #F072A9;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #FFD2D2;
  padding: 20px;
  background: #FFF4F4;
  box-shadow: inset 0px 0px 15px #FFE5E5;
  -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
  -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

.form-style-3 fieldset legend {
  color: #FFA0C9;
  border-top: 1px solid #FFD2D2;
  border-left: 1px solid #FFD2D2;
  border-right: 1px solid #FFD2D2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #FFF4F4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow: -0px -1px 2px #F1F1F1;
  -webkit-box-shadow: -0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 12px;
}

.form-style-3 textarea {
  width: 250px;
  height: 100px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFC2DC;
  outline: none;
  color: #F072A9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #FFD5E7;
  -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
  -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
  background: #FFEFF6;
  width: 50%;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
  background: #EB3B88;
  border: 1px solid #C94A81;
  padding: 5px 15px 5px 15px;
  color: #FFCBE2;
  box-shadow: inset -1px -1px 3px #FF62A7;
  -moz-box-shadow: inset -1px -1px 3px #FF62A7;
  -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.required {
  color: red;
  font-weight: normal;
}

.form-style-4{
	width: 450px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);


.elegant *, 
*:before, 
*:after {
  @include box-sizing(border-box); 
}

.elegant .template-container {
 background: #f1f1f1;
 font-family: 'Merriweather', sans-serif;
 padding: 1em;
}

.elegant legend {
  text-align: center;
  color: black;
  @include text-shadow(1px 1px 0 rgba(white, 1));
  background:  #f1f1f1;
    font-size: initial;
    padding-top: 10px;

}

form.elegant {
  max-width: 600px;
  text-align: center;
   background:  #f1f1f1;
   border-radius: 3px;
   border-radius: 10px;
border: solid #f1f1f1;
width: 300px;
}
 form.elegant input, .elegant textarea {
   border:0; outline:0;
   padding: 1em;
   @include border-radius(8px);
   display: block;
   width: 100%;
   margin-top: 1em;
   font-family: 'Merriweather', sans-serif;
   @include box-shadow(0 1px 1px rgba(black, 0.1));
   resize: none;
   border-radius: 10px;
border: solid white;
}

  
form.elegant:focus {
    @include box-shadow(0 0px 2px rgba(red, 1)!important);
  }
 
 
  .elegant #submit {
   color: white; 
   background: red;
   cursor: pointer;
 }

 .elegant #submit:hover {
  @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
 }
 .elegant textarea {
   height: 126px;
 }

/* Clearfix */
.elegant:before,
.elegant:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.elegant:after {
  clear: both;
}