<!-- Navbar -->
<base href="/">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand" target="_blank">
      <strong>CuteCryption</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">About CuteCryption</a>
        </li>
        <li class="nav-item">
          <a routerLink="/templates" routerLinkActive="active" class="nav-link">Create a Template</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/mdove92/CuteCryption" routerLinkActive="active" class="nav-link">Documentation</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://github.com/mdove92/CuteCryption" class="nav-link border border-light rounded"
            target="_blank">
            <i class="fab fa-github mr-2"></i>CuteCryption GitHub
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>

<router-outlet></router-outlet>
<!-- Navbar -->

<!--Footer-->
<footer class="page-footer text-center font-small wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
    <a class="btn btn-outline-white" href="https://CuteCryption.com" target="_blank" role="button">Create a template
      <i class="fas fa-download ml-2"></i>
    </a>
  
  </div>
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Social icons -->
  <div>
    <a href="https://github.com/mdove92/CuteCryption" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="https://CuteCryption.com" target="_blank">  CuteCryption.com </a>
    <br>
    <a href="https://macaria.dev" target="_blank">Macaria Dove</a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->