.full-page-intro {
    height: 525px;
    padding-top: 4em;  
    background-color: #FDE56B; 
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .title-bar{
    padding-top: 2em;
  }
  .navy{
    color: navy;
  }

