<!-- Full Page Intro -->
<div class="view full-page-intro">

  <!-- Mask & flexbox options-->
  <div class="d-flex justify-content-center align-items-center title-bar">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">

          <h1 class="display-4 font-weight-bold">Create Encrypted Messaging Templates with CuteCryption</h1>

          <hr class="hr-light">

          <p class="mb-4 d-none d-md-block navy">
            <strong>CuteCryption makes it easy to create and customize message templates to include on your webpage.
              Each template provides custom keys to make your form unique to your website.</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">

          <!--Card-->
         
            <img id="leftTreasureArmadillo" src="../../assets/Armadillo5.svg">
            <img id="chest" src="../../assets/chest.svg">
            <img id="rightTreasureArmadillo" src="../../assets/Armadillo5.svg" style>
          
          <!-- Form -->
          <!-- <form name=""> -->
          <!-- Heading -->
          <!-- <h3 class="dark-grey-text text-center">
                    <strong>Write to us:</strong>
                  </h3>
                  <hr>
  
                  <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">Your name</label>
                  </div>
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                  </div>
  
                  <div class="md-form">
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea"></textarea>
                    <label for="form8">Your message</label>
                  </div>
  
                  <div class="text-center">
                    <button class="btn btn-indigo">Send</button>
                    <hr>
                    <fieldset class="form-check">
                      <input type="checkbox" class="form-check-input" id="checkbox1">
                      <label for="checkbox1" class="form-check-label dark-grey-text">Subscribe me to the newsletter</label>
                    </fieldset>
                  </div>
   -->
          <!-- </form> -->
          <!-- Form -->


          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->


<!--Main layout-->
<main  style="background-color: #CCA7A2;">
  <div class="container">


    <!--Section: Main info-->
    <section class="wow fadeIn">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
<br><br>
          <img src="https://i.imgur.com/sUGmk10.jpg" class="img-fluid z-depth-1-half"
            alt="Encryption Flow Chart">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!-- Main heading -->
          <br>
          <h3 class="h3 mb-3">Why Use Encryption?</h3>
          <p class="navy">Encryption helps keep messages sent over the internet
            <strong>safe</strong>  by changing the data into an unreadable format.
             Keep those information thieves out of your business!</p>
          <p class="navy">Read details below to learn more about CuteCryption.</p>
          <!-- Main heading -->

          <hr>

          <p class="navy">
            <strong>CuteCryption</strong> allows you to build a form for your website visitors to send you messages on. 
            The only setup you need is to <a href="https://www.mailvelope.com/en/" target="_blank"><strong>download Mailvelope</strong></a>, which is Cutecryption's decrypter of choice. 
            Then, simply click on create a template. 
          </p>

          <!-- CTA -->
          <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
            class="btn btn-indigo btn-md" style="background-color: #FDE56B;">Contribute to the CuteCryption community as a creator. <br> Upload your own template!
            <i class="fas fa-download ml-1"></i>
          </a>
          <a target="_blank" href="https:/cutecryption.com/templates" class="btn btn-indigo btn-md">Use CuteCryption Template. 
            <i class="far fa-image ml-1"></i>
          </a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Main info-->

    <hr class="my-5">

    <!--Section: Main features & Quick Start-->
    <section>

      <h3 class="h3 text-center mb-5">How To Use Cutecryption</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title" style = "color:#FDE56B">Step 1: <a href="https://www.mailvelope.com/en/" target="_blank">Download Mailvelope</a></h5>
              <p class="grey-text">Mailvelope is Cutecryption's client of choice to <strong>decrypt</strong> your encrypted messages.</p>
                <p class="grey-text">It is able to read encrypted messages sent to your inbox from within your browser. Mailvelope also is helpful in that it stores your private keys,
             which allows for you to never have to unsafely transfer your private key anywhere. It will ask for permission to read data.</p>
             <p class="grey-text">Once you grant permission, Mailvelope will do the work of making your messages readable to you!</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title"  style = "color:#FDE56B">Step 2: Create a template</h5>
              <p class="grey-text">Navigate to the "Create a Template" page.</p>
                <p class="grey-text">Be sure to fill in the email address at which you would like to receive encrypted messages.</p>
                <p class="grey-text">Create a password that you will remember. </p>
                <p class="grey-text">Mailvelope will ask you for this password when you attempt to read an encrypted message.</p>
                <p class="grey-text">Click Submit, and Cutecryption will generate your html, public key, and private key for you!
            
              </p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title"  style = "color:#FDE56B">Step 3: Download your keys and take your html to your site!</h5>
              <p class="grey-text">Copy the generated html to your clipboard.</p>
                 <p class="grey-text"> Make sure to download your public and private keys at this point. 
                    <a href="https://www.mailvelope.com/en/faq#import_keys" target="_blank">Learn more about importing keys.</a></p>
                  <p class="grey-text"> Mailvelope will need these to decrypt your messages. </p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">

          <p class="h5 text-center mb-4">Watch a quick video to learn encryption</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ"
              allowfullscreen></iframe>
          </div>
          <img id="forwardArmadillo" src="../../assets/Armadillo8.svg" alt="Forward Armadillo">
          <img id="backArmadillo" src="../../assets/Armadillo4.svg" alt="Armadillo on Back">
          <img id="ballArmadillo" src="../../assets/Armadillo3.svg" alt="Balled Armadillo">
        
        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->

    </section>
    <!--Section: Main features & Quick Start-->


  </div>
</main>
<!--Main layout-->